name: linux-eic-shell

on: [push, pull_request]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cvmfs-contrib/github-action-cvmfs@v2
    - uses: eic/run-cvmfs-osg-eic-shell@main
      with:
        platform-release: "jug_xl:nightly"
        run: |
          PREFIX=${PWD}/install
          # install this repo
          cmake -B build -S . -DCMAKE_INSTALL_PREFIX=${PREFIX}
          cmake --build build -- install
    - uses: actions/upload-artifact@v4
      with:
        name: install-eic-shell
        path: install/
        if-no-files-found: error
    - uses: actions/upload-artifact@v4
      with:
        name: build-eic-shell
        path: build/
        if-no-files-found: error

  clang-tidy:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
    - uses: actions/checkout@v2
    - uses: cvmfs-contrib/github-action-cvmfs@v2
    - uses: actions/download-artifact@v4
      with:
        name: build-eic-shell
        path: build/
    - uses: eic/run-cvmfs-osg-eic-shell@main
      with:
        platform-release: "jug_xl:nightly"
        run: |
          run-clang-tidy -p build -export-fixes clang_tidy_fixes.yml -extra-arg='-std=c++20'    
    - uses: actions/upload-artifact@v4
      with:
        name: clang-tidy-fixes.yml
        path: clang_tidy_fixes.yml
